.modal {
   
}

.modal-content {
    animation: slide-up 0.3s;
}

.progress-bar {
    height: 20px;
}

.progress-bar-fill {
    border-radius: 4px;
}

.bg-container {
    position: relative;
  }

  .bg-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('public/matrix.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -10;
    opacity: 0.4; /* Adjust the opacity value as needed */
  }

/* Animation */
@keyframes slide-up {
    from {transform: translateY(100%);}
    to {transform: translateY(0%);}
}
.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as if the text is being typed */
    letter-spacing: .15em; /* Adjust as needed */
}